<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <h4>Password Wallet</h4>
        
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
      <div class="card" >
         <div class="card-header"> Form</div>
          <div class="card-body">
              {{#if message}}
            <h4 class='alert alert-danger mt-4'>{{message}}</h4>
        {{/if}}
     <form action='/auth/resetPassword' method='POST'>
     
                    <div class="form-group">
                        <label for="passwordOld">Old password</label>
                        <input required type="password" name='passwordOld' class="form-control" id="passwordOld">
                    </div>
                  
                      <div class="form-group">
                        <label for="passwordNew">New password</label>
                        <input required type="password" name='passwordNew' class="form-control" id="passwordNew">
                    </div>
                

                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input required type="password" name='passwordConfirm' class="form-control" id="passwordConfirm">
                    </div>
                   
        <div class="form-group">
                        <select class="custom-select" name='hashSelect' id="hashSelect">
                            <option selected name='sha512' value="SHA512">SHA512</option>
                            <option name='hmac' value="HMAC">HMAC</option>
                        </select>
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
          </div>
      </div>
       
</body>
</html>